<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h2> Hello, User Register Here</h2>
    <form action="/register" method="POST">
        <div class="container">
            <div>Name: <input type="text" name="name" id="name"></div>
            <div>Email: <input type="text" name="email" id="email"></div>
            <div>password: <input type="password" name="password" id="password"></div>
            <div>Confirm password: <input type="password" name="confirmPassword" id="password"></div>
            <input type="button" value="Submit">
        </div>
    </form>
</body>
</html>